<!-- Listet oversikt av registreringsskjema siden.-->

@model List<Registrering>
<!-- Link til stylesheetsene siden bruker. -->
<link rel="stylesheet" href="~/css/ListFullførteOrdrer.css" />
<link rel="stylesheet" href="~/css/NoUnderline.css" />
<h1>Oversikt over registreringskjema</h1>

<!-- Tabell for visning av registreringsskjemaer. -->
<table class="table">
    <thead>
        <tr>
            <!-- De forskjellige kolonne-titlene som vises på oversikten. -->
            <th style="font-size: 20px;">Registrering ID</th>
            <th style="font-size: 20px;">Kunde Nr</th>
            <th style="font-size: 20px;">Booking Til Uke</th>
            <th style="font-size: 20px;">Henvendelse Mottatt</th>
            <th style="font-size: 20px;">Case Ferdig</th>
            <th style="font-size: 20px;">Avtalt Ferdigstillelse Innen</th>
            <th style="font-size: 20px;">Service Ferdig</th>
            <th style="font-size: 20px;">Ordre Nr</th>
            <th style="font-size: 20px;">Service Skjema</th>
            <th style="font-size: 20px; text-align: center;">Handlinger</th>
        </tr>
    </thead>
    <tbody>
        <!-- Itererer gjennom hvert registrerings-objekt i modellen. -->
        @foreach (var registrering in Model)
        {
            <tr>
                <!-- Informasjonen om hva kolonnene skal inneholde. -->
               <td style="font-size: 20px; text-align: center;">
                    <!-- Oppretter en lenke for en detaljert visning av registreringsskjemaet. -->
                   <a href="@Url.Action("OversiktRegistreringSkjema", "Ansatt", new { id = registrering.RegistreringId })" class="no-underline">
                       @registrering.RegistreringId
                   </a>
               </td>
                <td style="font-size: 20px;">
                    <!-- Oppretter en lenke til Kunde-redigeringsvisningen. -->
                    <a href="@Url.Action("Edit", "Kunde", new { id = registrering.KundeId })" class="no-underline">
                        @registrering.KundeId
                    </a>
                </td>
                <td style="font-size: 15px;">@registrering.BookingTilUke</td>
                <td style="font-size: 15px;">@registrering.HenvendelseMottatt.ToShortDateString()</td>
                <td style="font-size: 15px;">@registrering.CaseFerdig</td>
                <td style="font-size: 15px;">@registrering.AvtaltFerdigstillelseInnen.ToShortDateString()</td>
                <td style="font-size: 15px;">@registrering.ServiceFerdig.ToShortDateString()</td>
                <td style="font-size: 15px;">@registrering.OrdreNr</td>
                <td style="font-size: 15px;">@registrering.ServiceSkjema</td>
                <td style="text-align: center;">
                    <!-- Knapp som sletter registreringsskjema fra systemet.-->
                    <a href="@Url.Action("Delete", "Ansatt", new { id = registrering.RegistreringId })" class="btn btn-danger"
                       onclick="return confirmDeletion('@registrering.Kunde.Fornavn','@registrering.Kunde.Etternavn');">Slett</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<!-- Funksjon for å bekrefte slettingen av registreringsskjemaet og kunden fra systemet. -->
<script>
    function confirmDeletion(firstName, lastName) {
        return confirm("Er du sikker på at du vil slette " + firstName + " " + lastName + "?");
    }
</script>


                  
