@model List<ServiceSkjema>
<link rel="stylesheet" href="~/css/ListFullførteOrdrer.css" />

<h1> Oversikt over serviceskjema</h1>

<table class="table">
    <thead>
        <tr>
            <th>Service Skjema ID</th>
            <th>Kunde Nr</th>
            <th>Mottatt Dato</th>
            <th>Ordre Nr</th>
            <th>Produkt Type</th>
            <th>Årsmodell</th>
            <th>Servicetype</th>
            <th>Serienummer</th>
            <th>Avtalt med Kunde</th>
            <th>Reparasjonsbeskrivelse</th>
            <th>Brukte Deler</th>
            <th>Arbeidstimer</th>
            <th>Ferdigstilt Dato</th>
            <th>Retur Deler</th>
            <th>Forsendelsesmåte</th>
            <th>Kunde Signatur</th>
            <th>Mekaniker Signatur</th>
            <th>Handlinger</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var serviceskjema in Model)
        {
            <tr>
                <td>
                    <a href="@Url.Action("OversiktServiceSkjema", "Ansatt", new { id = serviceskjema.ServiceSkjemaId })">
                        @serviceskjema.ServiceSkjemaId
                    </a>
                </td>
                <td>
                    <a href="@Url.Action("Edit", "Kunde", new { id = serviceskjema.KundeId })">
                        @serviceskjema.KundeId
                    </a>
                </td>
                <td>@serviceskjema.MottattDato.ToShortDateString()</td>
                <td>@serviceskjema.OrdreNr</td>
                <td>@serviceskjema.ProduktType</td>
                <td>@serviceskjema.ÅrsModell</td>
                <td>@serviceskjema.Servicetype</td>
                <td>@serviceskjema.SerieNummer</td>
                <td>@serviceskjema.AvtaltMedKunden</td>
                <td>@serviceskjema.Reparasjonsbeskrivelse</td>
                <td>@serviceskjema.BrukteDeler</td>
                <td>@serviceskjema.Arbeidstimer</td>
                <td>@serviceskjema.FerdigstiltDato.ToShortDateString()</td>
                <td>@serviceskjema.ReturDeler</td>
                <td>@serviceskjema.ForsendelsesMåte</td>
                <td>@serviceskjema.KundeSignatur</td>
                <td>@serviceskjema.MekanikerSignatur</td>
                <td>
                    <form method="post" action="@Url.Action("FullførService", "Ansatt", new { id = serviceskjema.ServiceSkjemaId })"
                          onsubmit="return confirmCompletion();">
                        <button type="submit" class="btn btn-success">Fullfør</button>
                    </form>

                    <script>
                        function confirmCompletion() {
                            return confirm("Er du sikker på at du vil fullføre servicen?");
                        }
                    </script>
                </td>
            </tr>
        }
    </tbody>
</table>
