@model List<Registrering>
<link rel="stylesheet" href="~/css/ListFullførteOrdrer.css" />

<h1>Oversikt over registreringskjema</h1>

<table class="table">
    <thead>
        <tr>
            <th>Registrering ID</th>
            <th>Kunde Nr</th>
            <th>Booking Til Uke</th>
            <th>Henvendelse Mottatt</th>
            <th>Case Ferdig</th>
            <th>Produkt Type</th>
            <th>Feilbeskrivelse</th>
            <th>Avtalt Levering</th>
            <th>Produkt Mottatt</th>
            <th>Avtalt Ferdigstillelse Innen</th>
            <th>Service Ferdig</th>
            <th>Antall Timer Utført</th>
            <th>Ordre Nr</th>
            <th>Service Skjema</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var registrering in Model)
        {
            <tr>
                <td>@registrering.RegistreringId</td>
                <td>
                    <a href="@Url.Action("Edit", "Kunde", new { id = registrering.KundeId })">
                        @registrering.KundeId
                    </a>
                </td>
                <td>@registrering.BookingTilUke</td>
                <td>@registrering.HenvendelseMottatt.ToShortDateString()</td>
                <td>@registrering.CaseFerdig</td>
                <td>@registrering.ProduktType</td>
                <td>@registrering.Feilbeskrivelse</td>
                <td>@registrering.AvtaltLevering.ToShortDateString()</td>
                <td>@registrering.ProduktMottatt.ToShortDateString()</td>
                <td>@registrering.AvtaltFerdigstillelseInnen.ToShortDateString()</td>
                <td>@registrering.ServiceFerdig.ToShortDateString()</td>
                <td>@registrering.AntallTimerUtført</td>
                <td>@registrering.OrdreNr</td>
                <td>@registrering.ServiceSkjema</td>
                <td>
                    <a href="@Url.Action("Edit", "Kunde", new { id = registrering.RegistreringId })" class="btn btn-primary">Rediger</a>
                    <a href="@Url.Action("Delete", "Ansatt", new { id = registrering.RegistreringId })" class="btn btn-danger"
                       onclick="return confirmDeletion('@registrering.Kunde.Fornavn','@registrering.Kunde.Etternavn');">Slett</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<script>
    function confirmDeletion(firstName, lastName) {
        return confirm("Er du sikker på at du vil slette " + firstName + " " + lastName + "?");
    }
</script>


                  
