@model List<Registrering>
<link rel="stylesheet" href="~/css/ListFullførteOrdrer.css" />
<link rel="stylesheet" href="~/css/NoUnderline.css" />

<h1>Oversikt over registreringskjema</h1>

<table class="table">
    <thead>
        <tr>
            <th style="font-size: 20px;">Registrering ID</th>
            <th style="font-size: 20px;">Kunde Nr</th>
            <th style="font-size: 20px;">Booking Til Uke</th>
            <th style="font-size: 20px;">Henvendelse Mottatt</th>
            <th style="font-size: 20px;">Case Ferdig</th>
            <th style="font-size: 20px;">Produkt Type</th>
            <th style="font-size: 20px;">Feilbeskrivelse</th>
            <th style="font-size: 20px;">Avtalt Levering</th>
            <th style="font-size: 20px;">Produkt Mottatt</th>
            <th style="font-size: 20px;">Avtalt Ferdigstillelse Innen</th>
            <th style="font-size: 20px;">Service Ferdig</th>
            <th style="font-size: 20px;">Antall Timer Utført</th>
            <th style="font-size: 20px;">Ordre Nr</th>
            <th style="font-size: 20px;">Service Skjema</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var registrering in Model)
        {
            <tr>
               <td style="font-size: 25px; text-align: center;">
                   <a href="@Url.Action("OversiktRegistreringSkjema", "Ansatt", new { id = registrering.RegistreringId })" class="no-underline">
                       @registrering.RegistreringId
                   </a>
               </td>
                <td style="font-size: 20px;">
                    <a href="@Url.Action("Edit", "Kunde", new { id = registrering.KundeId })" class="no-underline">
                        @registrering.KundeId
                    </a>
                </td>
                <td style="font-size: 15px;">@registrering.BookingTilUke</td>
                <td style="font-size: 15px;">@registrering.HenvendelseMottatt.ToShortDateString()</td>
                <td style="font-size: 15px;">@registrering.CaseFerdig</td>
                <td style="font-size: 15px;">@registrering.ProduktType</td>
                <td style="font-size: 15px;">@registrering.Feilbeskrivelse</td>
                <td style="font-size: 15px;">@registrering.AvtaltLevering.ToShortDateString()</td>
                <td style="font-size: 15px;">@registrering.ProduktMottatt.ToShortDateString()</td>
                <td style="font-size: 15px;">@registrering.AvtaltFerdigstillelseInnen.ToShortDateString()</td>
                <td style="font-size: 15px;">@registrering.ServiceFerdig.ToShortDateString()</td>
                <td style="font-size: 15px;">@registrering.AntallTimerUtført</td>
                <td style="font-size: 15px;">@registrering.OrdreNr</td>
                <td style="font-size: 15px;">@registrering.ServiceSkjema</td>
                <td>
                    <a href="@Url.Action("Edit", "Kunde", new { id = registrering.RegistreringId })" class="btn btn-primary">Rediger</a>
                    <a href="@Url.Action("Delete", "Ansatt", new { id = registrering.RegistreringId })" class="btn btn-danger"
                       onclick="return confirmDeletion('@registrering.Kunde.Fornavn','@registrering.Kunde.Etternavn');">Slett</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<script>
    function confirmDeletion(firstName, lastName) {
        return confirm("Er du sikker på at du vil slette " + firstName + " " + lastName + "?");
    }
</script>


                  
