@model List<ServiceSkjema>
<link rel="stylesheet" href="~/css/ListFullførteOrdrer.css" />

<h1> Oversikt over serviceskjema</h1>

<table class="table">
    <thead>
        <tr>
            <th style="font-size: 20px; text-align: center;">Serviceskjema ID</th>
            <th style="font-size: 20px; text-align: center;">Kunde Nr</th>
            <th style="font-size: 20px; text-align: center;">Mottatt Dato</th>
            <th style="font-size: 20px; text-align: center;">Ordre Nr</th>
            <th style="font-size: 20px; text-align: center;">Serienummer</th>
            <th style="font-size: 20px; text-align: center;">Ferdigstilt Dato</th>
            <th style="font-size: 20px; text-align: center;">Handlinger</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var serviceskjema in Model)
        {
            <tr>
                <td style="font-size: 24px; text-align: center;">
                    <a href="@Url.Action("OversiktServiceSkjema", "Ansatt", new { id = serviceskjema.ServiceSkjemaId })">
                        @serviceskjema.ServiceSkjemaId
                    </a>
                </td>
                <td style="font-size: 24px; text-align: center;">
                    <a href="@Url.Action("Edit", "Kunde", new { id = serviceskjema.KundeId })">
                        @serviceskjema.KundeId
                    </a>
                </td>
                <td style="font-size: 15px;">@serviceskjema.MottattDato.ToShortDateString()</td>
                <td style="font-size: 15px;">@serviceskjema.OrdreNr</td>
                <td style="font-size: 15px;">@serviceskjema.SerieNummer</td>
                <td style="font-size: 15px;">@serviceskjema.FerdigstiltDato.ToShortDateString()</td>
                <td style="text-align: center;">
                    <form method="post" action="@Url.Action("FullførService", "Ansatt", new { id = serviceskjema.ServiceSkjemaId })"
                          onsubmit="return confirmCompletion();">
                        <button type="submit" class="btn btn-success">Fullfør</button>
                    </form>

                    <script>function confirmCompletion() {
                            return confirm("Er du sikker på at du vil fullføre servicen?");
                        }</script>
                </td>
            </tr>
        }
    </tbody>
</table>
