@model List<Nsted.Models.Kunde>

<link rel="stylesheet" href="~/css/ListFullførteOrdrer.css" />

<h1>Kundeoversikt</h1>

<table class="table">
    <thead>
        <tr>
            <th style="font-size: 20px; text-align: center;">Kundenr</th>
            <th style="font-size: 20px; text-align: center;">Fornavn</th>
            <th style="font-size: 20px; text-align: center;">Etternavn</th>
            <th style="font-size: 20px; text-align: center;">Telefon</th>
            <th style="font-size: 20px; text-align: center;">Email</th>
            <th style="font-size: 20px; text-align: center;">Adresse</th>
            <th style="font-size: 20px; text-align: center;">Registrert</th>
            <th style="font-size: 20px; text-align: center;">Handlinger</th>
            
        </tr>
    </thead>
    <tbody>
        @foreach (var kunde in Model)
        {
            <tr>
                <td style="font-size: 20px;">@kunde.KundeId </td>
                <td style="font-size: 15px;">@kunde.Fornavn</td>
                <td style="font-size: 15px;">@kunde.Etternavn</td>
                <td style="font-size: 15px;">@kunde.Telefon</td>
                <td style="font-size: 15px;">@kunde.Email</td>
                <td style="font-size: 15px;">@kunde.Adresse</td>
                <td style="font-size: 15px;">@kunde.Registrert</td>
                <td style="text-align: center;">
                    <a href="@Url.Action("Edit", "Kunde", new { id = kunde.KundeId })" class="btn btn-primary">Rediger</a>
                    <a href="@Url.Action("Delete", "Kunde", new { id = kunde.KundeId })" class="btn btn-danger"
                       onclick="return confirmDeletion('@kunde.Fornavn','@kunde.Etternavn');">Slett</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<script>
    function confirmDeletion(firstName, lastName) {
        return confirm("Er du sikker på at du vil slette " + firstName + " " + lastName + "?");
    }
</script>



