@model List<Nsted.Models.Kunde>

<link rel="stylesheet" href="~/css/KundeList.css" />

<h2>Kundeoversikt</h2>

<table class="table">
    <thead>
        <tr>
            <th>Kundenr</th>
            <th>Fornavn</th>
            <th>Etternavn</th>
            <th>Telefon</th>
            <th>Email</th>
            <th>Adresse</th>
            <th>Registrert</th>
            <th>Handlinger</th>
            
        </tr>
    </thead>
    <tbody>
        @foreach (var kunde in Model)
        {
            <tr>
                <td>@kunde.KundeId </td>
                <td>@kunde.Fornavn</td>
                <td>@kunde.Etternavn</td>
                <td>@kunde.Telefon</td>
                <td>@kunde.Email</td>
                <td>@kunde.Adresse</td>
                <td>@kunde.Registrert</td>
                <td>
                    <a href="@Url.Action("Edit", "Kunde", new { id = kunde.KundeId })" class="btn btn-primary">Rediger</a>
                    <a href="@Url.Action("Delete", "Kunde", new { id = kunde.KundeId })" class="btn btn-danger"
                       onclick="return confirmDeletion('@kunde.Fornavn','@kunde.Etternavn');">Slett</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<script>
    function confirmDeletion(firstName, lastName) {
        return confirm("Er du sikker på at du vil slette " + firstName + " " + lastName + "?");
    }
</script>



